## ДЗ Логистическая регрессия и SVM (урок 2)

Вам необходимо построить модели логистической регрессии и SVM, которые предсказывает уровень дохода человека.

Вывести качество полученных моделей на тестовой выборке, используя функцию score у модели.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
from sklearn import datasets
from sklearn.linear_model import LogisticRegression

In [3]:
data = pd.read_csv('adult.csv', sep = ',',na_values='?')
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
data.shape

(48842, 15)

In [5]:
for i  in range(len(data.columns)):
 col = data.columns[i]
 print(data.columns[i],' пустых строк {}'.format( len( data[ data[col].isna() ] )) )

print('Всего строк в наборе {}'.format( len( data ) ))

age  пустых строк 0
workclass  пустых строк 2799
fnlwgt  пустых строк 0
education  пустых строк 0
educational-num  пустых строк 0
marital-status  пустых строк 0
occupation  пустых строк 2809
relationship  пустых строк 0
race  пустых строк 0
gender  пустых строк 0
capital-gain  пустых строк 0
capital-loss  пустых строк 0
hours-per-week  пустых строк 0
native-country  пустых строк 857
income  пустых строк 0
Всего строк в наборе 48842

In [6]:
data.shape

(48842, 15)

In [7]:
# обнуляем ячейки с отсутствием данных
data = data[ data['workclass'].isna() == 0 ]
data = data[ data['occupation'].isna()  == 0 ]
data = data[ data['native-country'].isna() == 0 ]

In [8]:
data.shape

(45222, 15)

In [9]:
selectedColumns = data[ [ 'age', 'workclass','fnlwgt' , 'educational-num',
       'marital-status', 'occupation', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country' ] ]

X = pd.get_dummies( selectedColumns, columns = [ 'race','gender','workclass','occupation','marital-status','native-country' ] )

X.head()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,226802,7,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,38,89814,9,0,0,50,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,28,336951,12,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,160323,10,7688,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
5,34,198693,6,0,0,30,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [11]:
le.fit( data['income'] )

LabelEncoder()

In [12]:
le.classes_

array(['<=50K', '>50K'], dtype=object)

In [13]:
le.transform( [ '<=50K', '>50K' ] )

array([0, 1], dtype=int64)

In [14]:
y = pd.Series( data = le.transform( data['income'] ) )

Разделение на обучающую и тестовую выборки

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [17]:
print(X_train.shape), print(X_test.shape), print(y_train.shape), print(y_test.shape)

(31655, 82)
(13567, 82)
(31655,)
(13567,)

(None, None, None, None)

### Логистическая регрессия

In [18]:
model = LogisticRegression()

In [19]:
model.fit( X_train, y_train)

e:\Users\lyalina_ia\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
predictions = model.predict_proba( X_train )

In [21]:
model.score(X_train, y_train)

0.7897330595482546

Оценка модели с параметрами по умолчанию:

In [22]:
model.score(X_test, y_test)

0.7956069875433036

Подбор параметров

Лучший результат для логистической регрессии:

In [23]:
model_x = LogisticRegression(solver='newton-cg', multi_class='multinomial',penalty = 'l2')
model_x.fit( X_train, y_train )
model_x.score(X_test, y_test)

e:\Users\lyalina_ia\AppData\Local\Continuum\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:466: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
e:\Users\lyalina_ia\AppData\Local\Continuum\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:314: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
e:\Users\lyalina_ia\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\optimize.py:203: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  "number of iterations.", ConvergenceWarning)

0.8507407680400972

In [24]:
model_x = LogisticRegression(solver='liblinear', multi_class='auto',penalty = 'l1')
model_x.fit( X_train, y_train )
model_x.score(X_test, y_test)

0.8500036854131348

In [25]:
model_x = LogisticRegression(solver='sag', multi_class='ovr',penalty = 'l2')
model_x.fit( X_train, y_train )
model_x.score(X_test, y_test)

e:\Users\lyalina_ia\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\sag.py:337: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

0.7887521191125525

### SVM

Для модели SVM оставим меньше признаков

In [27]:
selectedColumns = data[ [ 'age', 'workclass', 'educational-num',
       'marital-status', 'race', 'gender'
        ] ]

X = pd.get_dummies( selectedColumns, columns = [ 'race','gender',
                                                'workclass','marital-status' ] )

X.head()

,age,educational-num,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender_Female,gender_Male,workclass_Federal-gov,...,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,marital-status_Divorced,marital-status_Married-AF-spouse,marital-status_Married-civ-spouse,marital-status_Married-spouse-absent,marital-status_Never-married,marital-status_Separated,marital-status_Widowed
0,25,7,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,38,9,0,0,0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,28,12,0,0,0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,44,10,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
5,34,6,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [28]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit( data['income'] )
le.transform( [ '<=50K', '>50K' ] )
y = pd.Series( data = le.transform( data['income'] ) )

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [31]:
print(X_train.shape), print(X_test.shape), print(y_train.shape), print(y_test.shape)

(31655, 23)
(13567, 23)
(31655,)
(13567,)

(None, None, None, None)

In [32]:
from sklearn import svm

In [33]:
model1 = svm.SVC()

In [34]:
model1.fit(X_train, y_train)

e:\Users\lyalina_ia\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [35]:
model1.score(X_test, y_test)

0.8252377091471954

In [36]:
model2 = svm.SVC(kernel='sigmoid') 
model2.fit(X_train, y_train)

e:\Users\lyalina_ia\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='sigmoid', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [37]:
model2.score(X_test, y_test)

0.7548463182722783

In [38]:
model3 = svm.SVC(kernel='poly') 
model3.fit(X_train, y_train)

e:\Users\lyalina_ia\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='poly', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

Лучший результат для SVM:

In [39]:
model3.score(X_test, y_test)

0.8284071644431341

In [40]:
model4 = svm.SVC(kernel='linear') 
model4.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [41]:
model4.score(X_test, y_test)

0.822141962113953